@charset "utf-8";

#wrap {
	min-width: 1200px;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
}

header > .container {
	position: relative;
	width: 1024px;
	height: 100px;
	margin: 0 auto;
}

header > .container > nav > .gnb {
	display: flex;
	justify-content: space-between;
	/* width: 816px; */
}

header > nav > .gnb > li {
	width: 100px;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}

header > .container > nav > .gnb > li > a {
	display: block;
	height: 40px;
	padding: 5px 15px;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	box-sizing: border-box;
}

header > .container > nav > .gnb > li:hover,
header > .container > nav > .gnb > li > a.on {
	font-weight: 800;
}

/* 임시코드 */
section > .intro ~ article {
	/* padding: 200px 0;	 */
}

section > article > .container {
	display: flex;
	height: 970px;
	/* justify-content: center; */
	/* align-items: center; */
	/* font-size: 150px; */
}

section > .aboutMe > .container {
	/* border: 5px solid blue; */
}

section > .mnu2 > .container > .hobby > .hoCont > ol > li,
section > .mnu2 > .container > .hobby > .head,
section > .mnu1 > .container > .edu > p,
section > .mnu1 > .container > .workEx > .head,
section > .mnu1 > .container > .skills > p,
section > .mnu2 > .container > .interest > .head,
section > .mnu2 > .container > .specialty > .head {
	font-size: 20px;
	font-weight: 800;
}

/* section > .mnu1 > .container,
section > .mnu2 > .container,
section > .mnu3 > .container,
section > .mnu4 > .container,
section > .mnu5 > .container {
	border-right: 5px solid blue;
	border-left: 5px solid blue;
}

section > .aboutMe > .container,
section > .mnu1 > .container {
	border-bottom: 1px solid blue;
}

section > .mnu2 > .container {
	border-right: 5px solid blue;
	border-left: 5px solid blue;
	border-bottom: 5px solid blue;
} */

section > .aboutMe > .container > .frame {
	display: block;
	background-image: url(./../images/label.png);
	width: 60px;
	height: 200px;
	background-size: cover;
	margin: 320px 0 0 350px;
	text-indent: -9999px;
}

section > .aboutMe > .container > .headLine {
	display: block;
	height: 150px;
	margin: 400px 250px 0 -40px;
	font-size: 45px;
	font-weight: bold;
	color: #ccc;
	/* border: 1px solid red; */
}

section > .aboutMe > .container > .amCont > a {
	color: #ccc;
}

section > .aboutMe > .container > .headLine > .style {
	font-weight: bolder;
	color: blue;
}

section > article > .container {
	background-color: #000;
}

section > article:nth-child(odd) > .container {
	/* background-color: #ccc; */
}

section > article:nth-child(even) > .container {
	/* background-color: #fff; */
}
/* 임시코드 */

section > article {
	background-color: #000;
}

section > .aboutMe > .container > p {
	font-size: 20px;
	font-weight: 800;
	left: 10px;
}

section > .aboutMe > .container > p > span {
	color: blue;
	font-style: italic;
}

section > article > .container {
	width: 1200px;
	margin: 0 auto;
}

section > .mnu1 > .container > .profileImg {
	display: flex;
	margin: 60px 0 0 0;
}

section > .mnu1 > .container > .profileImg > img {
	width: 350px;
	height: 470px;
}

section > .mnu1 > .container > .profileBox1{
	/* border: 1px solid red; */
	margin: 60px 10px 0 10px;
	width: 400px;
	height: 470px;
}

section > .mnu1 > .container > .profileBox2	 {
	/* border: 1px solid red; */
	margin: 60px 10px 0 10px;
	width: 400px;
	height: 470px;
}

section > .mnu1 > .container > .profileBox3	 {
	/* border: 1px solid red; */
	margin: 550px 0 0 -1180px;
	width: 1150px;
	height: 400px;
}

section > .mnu1 > .container > .profileBox1 > .amCont {
	display: block;
	margin: 10px 0 0 10px;
	color: #ccc;
	/* border: 1px solid red; */
}

section > .mnu1 > .container > .profileBox1 > .amCont > a:link,
section > .mnu1 > .container > .profileBox1 > .amCont > a:visited{
	color: #ccc;
}

section > .mnu1 > .container > .profileBox1 > .amCont > a:hover{
	color:#ccc;
	font-weight: 800;
}

section > .mnu1 > .container > .profileBox1 > .amCont > a:active{
	color:purple;
}

section > .mnu1 > .container > .profileBox1 > .edu {
	display: block;
	margin: 10px 0 0 10px;
	height: 140px;
	color: #ccc;
}

section > .mnu1 > .container > .profileBox1 > .specialty {
	display: block;
	margin: 10px 0 0 10px;
	color: #ccc;
}

section > .mnu1 > .container > .profileBox1 > .interest {
	margin: 10px 0 0 10px;
	color: #ccc;
}

section > .mnu1 > .container > .profileBox1 > .hobby {
	margin: 10px 0 0 10px;
	/* border: 1px solid red; */
	color: #ccc;
}

section > .mnu1 > .container > .profileBox1 > .hobby > .hoCont {
	/* border: 1px solid red; */
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

section > .mnu1 > .container > .profileBox1 > .hobby > .hoCont > li {
	background-size: cover;
	width: 90px;
	height: 90px;
	text-indent: -9999px;
	/* border: 1px solid red; */
}

section > .mnu1 > .container > .profileBox1 > .hobby > .hoCont > .music {
	background-image: url(./../images/music.png);
	margin: 0 10px 0 0;
}

section > .mnu1 > .container > .profileBox1 > .hobby > .hoCont > .movie {
	background-image: url(./../images/movie.png);
	margin: 0 10px 0 0;
}

section > .mnu1 > .container > .profileBox1 > .hobby > .hoCont > .writing {
	background-image: url(./../images/writing.png);
}

section > .mnu1 > .container > .profileBox1 > .hobby > .hoCont > ol {
	display: flex;
}

section > .mnu1 > .container > .profileBox1 > .hobby > .hoCont > ol > .pMusic {
	margin: 0 43px 0 25px;
}

section > .mnu1 > .container > .profileBox1 > .hobby > .hoCont > ol > .pMovie {
	margin: 0 35px 0 25px;
}

section > .mnu1 > .container > .profileBox1 > .hobby > .hoCont > ol > .pWriting {
	margin: 0 0 0 30px;
}

section > .mnu1 > .container > .profileBox2 > .workEx {
	display: block;
	margin: 10px 0 0 10px;
	color: #ccc;
}

section > .mnu1 > .container > .profileBox2 > .workEx > .weCont {
	display: block;
	margin: 0 0 0 50px;
}

section > .mnu1 > .container > .profileBox3 > .skills {
	display: block;
	margin: 10px 0 0 10px;
	width: 400px;
	height: 250px;
	/* border: 1px solid red; */
	color: #ccc;
}

section > .mnu1 > .container > .profileBox3 > .skills > ul {
	/* border: 1px solid red; */
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 0 22px;
}

section > .mnu1 > .container > .profileBox3 > .skills > ul > li {
	background-size: cover;
	width: 80px;
	height: 80px;
	text-indent: -9999px;
	/* border: 1px solid red; */
}

section > .mnu1 > .container > .profileBox3 > .skills > ul > .pp {
	background-image: url(./../images/Powerpoint.png);
	margin-right: 5px;
}
section > .mnu1 > .container > .profileBox3 > .skills > ul > .ex {
	background-image: url(./../images/Excel.png);
	margin-right: 5px;
}
section > .mnu1 > .container > .profileBox3 > .skills > ul > .ai {
	background-image: url(./../images/Illustrator.png);
	margin-right: 5px;
}
section > .mnu1 > .container > .profileBox3 > .skills > ul > .ps {
	background-image: url(./../images/Photoshop.png);
	margin-top: 3px;
}
section > .mnu1 > .container > .profileBox3 > .skills > ul > .js {
	background-image: url(./../images/JS.png);
	margin-right: 5px;
}
section > .mnu1 > .container > .profileBox3 > .skills > ul > .css {
	background-image: url(./../images/CSS.png);
	margin-right: 5px;
}
section > .mnu1 > .container > .profileBox3 > .skills > ul > .html {
	background-image: url(./../images/HTML.png);
}

section > .mnu1 > .container > .profileBox3 > .skills > ul > .js,
section > .mnu1 > .container > .profileBox3 > .skills > ul > .css,
section > .mnu1 > .container > .profileBox3 > .skills > ul > .html {
	margin-top: 5px;
	height: 110px;
}

section > .mnu2 > .container > .text1 > .frame{
	display: block;
	background-image: url(./../images/label.png);
	width: 30px;
	height: 80px;
	background-size: cover;
	margin: 250px 0 0 10px;
	text-indent: -9999px;
}

section > .mnu2 > .container > .text2 > .frame{
	display: block;
	background-image: url(./../images/label.png);
	width: 30px;
	height: 80px;
	background-size: cover;
	margin: 250px 0 0 100px;
	text-indent: -9999px;
}

section > .mnu2 > .container > .text3 > .frame{
	display: block;
	background-image: url(./../images/label.png);
	width: 30px;
	height: 80px;
	background-size: cover;
	margin: 600px 0 0 -700px;
	text-indent: -9999px;
}

section > .mnu2 > .container > .text1 > .prosAndCons {
	display: block;
	margin: -40px 0 0 20px;
	font-size: 35px;
	color: #ccc;
	/* border: 1px solid red; */
}

section > .mnu2 > .container > .text2 > .hashtag {
	display: block;
	margin: -40px 0 0 110px;
	font-size: 35px;
	color: #ccc;
	/* border: 1px solid red; */
}

section > .mnu2 > .container > .text3 > .hashtag {
	display: block;
	margin: -40px 0 0 -690px;
	font-size: 35px;
	color: #ccc;
	/* border: 1px solid red; */
}

section > .mnu2 > .container > .text1 > p{
	display: block;
	margin: 10px 0 0 10px;
	font-size: 15px;
	color: #ccc;
}

section > .mnu2 > .container > .text2 > p{
	display: block;
	margin: 10px 0 0 110px;
	font-size: 15px;
	color: #ccc;
}	

section > .mnu2 > .container > .text3 > p{
	display: block;
	margin: 20px 0 0 -690px;
	font-size: 15px;
	color: #ccc;
}

section > .mnu3 > .container,
section > .mnu4 > .container,
section > .mnu5 > .container,
section > .mnu6 > .container {
	color: #ccc;
}

section > .mnu3 > .container > .headText{
	text-align: center;
	width: 1000px;
	height: 100px;
	margin: 80px 0 0 320px;
}

section > .mnu4 > .container > .headText{
	text-align: center;
	width: 1000px;
	height: 100px;
	margin: 80px 0 0 220px;
}

section > .mnu5 > .container > .headText{
	text-align: center;
	margin: 80px 0 0 520px;
}

section > .mnu6 > .container > .headText{
	text-align: center;
	margin: 80px 0 0 520px;
}

section > .mnu3 > .container > .headText > h2,
section > .mnu4 > .container > .headText > h2,
section > .mnu5 > .container > .headText > h2,
section > .mnu6 > .container > .headText > h2{
	font-weight: 800;
}

#screen{
	overflow: hidden;
	position: relative;
	margin: 190px 0 0 -820px;
	
	width: 710px;
	height: 700px;
}

#screen > ul{
	position: relative;
	display: flex;
	width: 1000%;
}

#screen > ul > li{
	width: 100%;
	height: 700px;

	transform: scale(1);
	-webkit-transform: scale(1);
  	-moz-transform: scale(1);
  	-ms-transform: scale(1);
  	-o-transform: scale(1);
  	transition: all 0.3s ease-in-out;
}

#screen > ul > li:hover{
	transform: scale(1.2);
  	-webkit-transform: scale(1.2);
  	-moz-transform: scale(1.2);
  	-ms-transform: scale(1.2);
  	-o-transform: scale(1.2);
}

#screen > ul > li > img{
	background-size: cover;
	width: 500px;
	height: 700px;
}

#screen > ul > li:nth-of-type(1){
	background-image: url(./../images/busan_university_proposal01.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen > ul > li:nth-of-type(2){
	background-image: url(./../images/busan_university_proposal02.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen > ul > li:nth-of-type(3){
	background-image: url(./../images/busan_university_proposal03.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen > ul > li:nth-of-type(4){
	background-image: url(./../images/busan_university_proposal04.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen > ul > li:nth-of-type(5){
	background-image: url(./../images/busan_university_proposal05.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen > ul > li:nth-of-type(6){
	background-image: url(./../images/busan_university_proposal06.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen > ul > li:nth-of-type(7){
	background-image: url(./../images/busan_university_proposal07.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen > ul > li:nth-of-type(8){
	background-image: url(./../images/busan_university_proposal08.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen > ul > li:nth-of-type(9){
	background-image: url(./../images/busan_university_proposal09.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen > ul > li:nth-of-type(10){
	background-image: url(./../images/busan_university_proposal10.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen > .slides-pagination {
	display: flex;
	justify-content: space-between;

	position: absolute;
	left: 35%;
	bottom: 30px;
	width: 200px;
	margin-left: -37px;
}

#screen > .slides-pagination > li {
	width: 18px;
	background-image: url(./../images/bul.png);
}

#screen > .slides-pagination > li:hover,
#screen > .slides-pagination > li.on {
	background-position: 0 -18px;
}

#screen > .slides-pagination > li > a {
	display: block;
	height: 18px;
	text-indent: -9999px;	
}

#screen > .slides-nav.slides-prev,
#screen > .slides-nav.slides-next{
	display: block;
	position: absolute;
	width: 50px;
	height: 80px;
	background-position: -19px -10px;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

#screen > .slides-nav.slides-prev {
	margin: -400px 0 0 0;
	background-image: url(./../images/btn_pic_prev.png);
}

#screen > .slides-nav.slides-next {
	margin: -400px 0 0 450px;
	background-image: url(./../images/btn_pic_next.png);
}

#screen > .slides-nav.slides-prev:hover {
	background-image: url(./../images/btn_pic_prev_on.png);
	background-repeat: no-repeat;
}

#screen > .slides-nav.slides-next:hover {
	background-image: url(./../images/btn_pic_next_on.png);
	background-repeat: no-repeat;
}

#screen2{
	overflow: hidden;
	position: relative;
	margin: 190px 0 0 -1020px;
	
	width: 500px;
	height: 700px;
}

#screen2 > ul{
	position: relative;
	display: flex;
	width: 1000%;
}

#screen2 > ul > li{
	width: 100%;
	height: 700px;

	transform: scale(1);
	-webkit-transform: scale(1);
  	-moz-transform: scale(1);
  	-ms-transform: scale(1);
  	-o-transform: scale(1);
  	transition: all 0.3s ease-in-out;
}

#screen2 > ul > li:hover{
	transform: scale(1.2);
  	-webkit-transform: scale(1.2);
  	-moz-transform: scale(1.2);
  	-ms-transform: scale(1.2);
  	-o-transform: scale(1.2);
}

#screen2 > ul > li > img{
	background-size: cover;
	width: 500px;
	height: 700px;
}

#screen2 > ul > li:nth-of-type(1){
	background-image: url(./../images/Reader&Leader_proposal01.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen2 > ul > li:nth-of-type(2){
	background-image: url(./../images/Reader&Leader_proposal02.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen2 > ul > li:nth-of-type(3){
	background-image: url(./../images/Reader&Leader_proposal03.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen2 > ul > li:nth-of-type(4){
	background-image: url(./../images/Reader&Leader_proposal04.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen2 > ul > li:nth-of-type(5){
	background-image: url(./../images/Reader&Leader_proposal05.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen2 > ul > li:nth-of-type(6){
	background-image: url(./../images/Reader&Leader_proposal06.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen2 > ul > li:nth-of-type(7){
	background-image: url(./../images/Reader&Leader_proposal07.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen2 > ul > li:nth-of-type(8){
	background-image: url(./../images/Reader&Leader_proposal08.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen2 > ul > li:nth-of-type(9){
	background-image: url(./../images/Reader&Leader_proposal09.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen2 > ul > li:nth-of-type(10){
	background-image: url(./../images/Reader&Leader_proposal10.png);
	text-indent: -9999px;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

#screen2 > .slides-pagination {
	display: flex;
	justify-content: space-between;

	position: absolute;
	left: 35%;
	bottom: 30px;
	width: 200px;
	margin-left: -37px;
}

#screen2 > .slides-pagination > li {
	width: 18px;
	background-image: url(./../images/bul.png);
}

#screen2 > .slides-pagination > li:hover,
#screen2 > .slides-pagination > li.on {
	background-position: 0 -18px;
}

#screen2 > .slides-pagination > li > a {
	display: block;
	height: 18px;
	text-indent: -9999px;	
}

#screen2 > .slides-nav.slides-prev,
#screen2 > .slides-nav.slides-next{
	display: block;
	position: absolute;
	width: 50px;
	height: 80px;
	background-position: -19px -10px;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

#screen2 > .slides-nav.slides-prev {
	margin: -400px 0 0 0;
	background-image: url(./../images/btn_pic_prev.png);
}

#screen2 > .slides-nav.slides-next {
	margin: -400px 0 0 450px;
	background-image: url(./../images/btn_pic_next.png);
}

#screen2 > .slides-nav.slides-prev:hover {
	background-image: url(./../images/btn_pic_prev_on.png);
	background-repeat: no-repeat;
}

#screen2 > .slides-nav.slides-next:hover {
	background-image: url(./../images/btn_pic_next_on.png);
	background-repeat: no-repeat;
}

section > .mnu5 > .container > .imgFrame{
	display: flex;
	width: 500px;
	height: 500px;
	margin: 200px 0 0 -450px;
}

section > .mnu5 > .container > .imgFrame > img,
section > .mnu6 > .container > .imgFrame > img{
	transform: scale(1);
	-webkit-transform: scale(1);
  	-moz-transform: scale(1);
  	-ms-transform: scale(1);
  	-o-transform: scale(1);
  	transition: all 0.3s ease-in-out;
}

section > .mnu5 > .container > .imgFrame > img:hover,
section > .mnu6 > .container > .imgFrame > img:hover{
	transform: scale(1.2);
  	-webkit-transform: scale(1.2);
  	-moz-transform: scale(1.2);
  	-ms-transform: scale(1.2);
  	-o-transform: scale(1.2);
}

section > .mnu6 > .container > .imgFrame{
	display: flex;
	width: 800px;
	height: 500px;
	margin: 200px 0 0 -530px;
}

section > .mnu3 > .container > .imgFrame > .frame > img,
section > .mnu4 > .container > .imgFrame > .frame > img,
section > .mnu5 > .container > .imgFrame > .frame > img{
	width: 500px;
}

section > .mnu3 > .container > .cont{
	width: 700px;
	margin: 500px 0 0 10px;
}

section > .mnu4 > .container > .cont{
	width: 400px;
	margin: 500px 0 0 10px;
}

section > .mnu5 > .container > .cont{
	width: 500px;
	margin: 600px 0 0 -150px;
}

section > .mnu6 > .container > .cont{
	width: 700px;
	margin: 750px 0 0 -580px;
}

footer {
	margin: 0 auto;
	background-color: #000;
}

footer > .container {
	position: relative;
	width: 1100px;
	margin: 0 auto;
	padding: 30px 0 20px;
}

footer > .container > h2,
footer > .container > .contact,
footer > .container > .iam_1,
footer > .container > .iam_2 {
	padding-left: 30px;
	color: #ababab;
	font-size: 13px;
	line-height: 28px;
}

footer > .container > .contact > a {
	margin-right: 20px;
	color: #ababab;
}

footer > .container > .contact > .bar {
	position: absolute;
	right: 40px;
	top: 40px;
	display: block;
	width: 150px;
	height: 54px;
	background-image: url(../images/rwd_footer_img_logo_pc.png);
	background-size: contain;
	background-repeat: no-repeat;
}

footer > .container > .contact > .bar:hover {
	background-image: url(../images/rwd_footer_img_logo_pc_on.png);
}

footer > .container > .contact > .bar:after {
	display: block;
	position: absolute;
	left: -745px;
	top: 18px;
	color: #ababab;
	content: '|';
}


/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media screen and (max-width:1023px) {

	header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
	}

	header > .container {
		position: relative;
		width: 768px;
		height: 100px;
		margin: 0 auto;
	}

	header > nav > .gnb > li {
		width: 100px;
		border: 1px solid red;
	}

	header > .container > nav > .gnb > li > a {
		display: block;
		height: 40px;
		padding: 5px 15px;
		color: #fff;
		font-size: 16px;
		line-height: 30px;
		box-sizing: border-box;
	}

	section > article > .container {
		display: flex;
		height: 970px;
	}

	section > .aboutMe > .container > .frame {
		width: 60px;
		height: 200px;
		margin: 320px 0 0 270px;
		text-indent: -9999px;
	}

	section > .mnu1 > .container > .profileBox2	 {
		/* border: 1px solid red; */
		margin: 60px 10px 0 -80px;
		width: 400px;
		height: 470px;
	}

	section > .mnu1 > .container > .profileBox3	 {
		/* border: 1px solid red; */
		margin: 550px 0 0 -1100px;
		width: 1150px;
		height: 400px;
	}

	section > .mnu1 > .container > .profileBox2 > .workEx > .weCont {
		margin: 0 0 0 -5px;
	}
	
	section > .mnu2 > .container > .text1 > .frame{
		margin: 150px 0 0 10px;
	}

	section > .mnu2 > .container > .text2 > .frame{
		margin: 420px 0 0 -550px;
	}

	section > .mnu2 > .container > .text2 > .hashtag {
		margin: -40px 0 0 -540px;
	}

	section > .mnu2 > .container > .text2 > p{
		margin: 10px 0 0 -540px;
	}

	section > .mnu2 > .container > .text3 > .frame{
		margin: 350px 0 0 50px;
	}

	section > .mnu2 > .container > .text3 > .hashtag {
		margin: -40px 0 0 60px;
	}

	section > .mnu2 > .container > .text3 > p{
		margin: 20px 0 0 60px;
	}

	section > .mnu3 > .container > .headText{
		margin: 80px 0 0 0;
	}

	section > .mnu3 > .container > .screen{
		margin: 190px 0 0 -980px;
		width: 550px;
		height: 700px;
	}

	section > .mnu3 > .container > .cont{
		width: 400px;
		margin: 500px 0 0 10px;
	}

	section > .mnu4 > .container > .headText{
		margin: 80px 0 0 0;
	}

	section > .mnu4 > .container > .screen{
		margin: 190px 0 0 -980px;
		width: 550px;
		height: 700px;
	}

	section > .mnu4 > .container > .cont{
		width: 400px;
		margin: 500px 0 0 10px;
	}

	section > .mnu5 > .container > .headText{
		margin: 80px 0 0 400px;
	}

	section > .mnu6 > .container > .headText{
		margin: 80px 0 0 400px;
	}

	section > .mnu3 > .container > .headText > h2,
	section > .mnu4 > .container > .headText > h2,
	section > .mnu5 > .container > .headText > h2,
	section > .mnu6 > .container > .headText > h2{
	font-weight: 800;
	}

	#screen{
		margin: 190px 0 0 -850px;
		
		width: 500px;
		height: 700px;
	}

	section > .mnu3 > .container > .cont{
		width: 270px;
		margin: 480px 0 0 10px;
	}

	#screen2{
		margin: 190px 0 0 -850px;
		
		width: 500px;
		height: 700px;
	}

	section > .mnu4 > .container > .cont{
		width: 270px;
		margin: 480px 0 0 10px;
	}
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
	
	header > .container {
		width: 668px;
		height: 100px;
	}

	header > nav > .gnb > li {
		width: 100px;
	}

	section > .aboutMe > .container > .frame {
		width: 60px;
		height: 200px;
		margin: 320px 0 0 150px;
	}

	section > .mnu1 > .container > .profileImg > img {
		width: 270px;
		height: 370px;
	}

	section > .mnu1 > .container > .profileBox1 > .hobby {
		margin: 30px 0 0 -270px;
	}

	section > .mnu1 > .container > .profileBox1 > .hobby > .hoCont > ol > .pMusic {
		margin: 100px 43px 0 -270px;
	}
	
	section > .mnu1 > .container > .profileBox1 > .hobby > .hoCont > ol > .pMovie {
		margin: 100px 35px 0 25px;
	}
	
	section > .mnu1 > .container > .profileBox1 > .hobby > .hoCont > ol > .pWriting {
		margin: 100px 0 0 30px;
	}

	section > .mnu1 > .container > .profileBox3 > .skills {
		margin: 50px 0 0 90px;
	}

	section > .mnu1 > .container > .profileBox2 > .workEx {
		margin: 400px 0 0 -200px;
	}

	section > .mnu2 > .container > .text3 > .frame{
		margin: 700px 0 0 -550px;
	}

	section > .mnu2 > .container > .text3 > .hashtag {
		margin: -40px 0 0 -540px;
	}

	section > .mnu2 > .container > .text3 > p{
		margin: 20px 0 0 -550px;
	}

	section > .mnu3 > .container > .headText{
		margin: 80px 0 0 -150px;
	}

	#screen{
		margin: 190px 0 0 -820px;
		width: 410px;
		height: 600px;
	}

	#screen > .slides-nav.slides-next {
		margin: -400px 0 0 360px;
	}

	section > .mnu4 > .container > .headText{
		margin: 80px 0 0 -150px;
	}

	#screen2{
		margin: 190px 0 0 -820px;
		width: 410px;
		height: 600px;
	}

	#screen2 > .slides-nav.slides-next {
		margin: -400px 0 0 360px;
	}

	section > .mnu5 > .container > .headText{
		margin: 80px 0 0 300px;
	}

	section > .mnu5 > .container > .imgFrame{
		width: 400px;
		height: 400px;
	}
	section > .mnu5 > .container > .imgFrame > video{
		width: 400px;
		height: 400px;
	}

	section > .mnu5 > .container > .cont{
		margin: 650px 0 0 -300px;
	}

	section > .mnu6 > .container > .headText{
		margin: 100px 0 0 300px;
	}

	section > .mnu6 > .container > .imgFrame{
		width: 600px;
		height: 350px;
		margin: 200px 0 0 -430px;
	}

	section > .mnu6 > .container > .cont{
		margin: 570px 0 0 -500px;
	}
}
